<h1>Show Page for : <%= @ikealover.id %></h1>

<h2><%= @ikealover.first_name %></h2>
<h3><%= @ikealover.last_name %></h3>
<h4><%= @ikealover.ikea_visits %></h4>
<h4><a href="/ikealovers/<%= @ikealover.id %>/edit">EDIT</a></h4>
