<h1>Show Page for : <%= @worker.id %></h1>

<h2><%= @worker.first_name %></h2>
<h3><%= @worker.last_name %></h3>
<h4><%= @worker.employer %></h4>
<h4><%= @worker.salary %></h4>
<h4><a href="/workers/<%= @worker.id %>/edit">EDIT</a></h4>
